* {
    box-sizing: border-box;
  }
  /* HOME STYLES */
  .node-input-container{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .root {
    margin-bottom: 20px;
  }
  
  .tree {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .node {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    background-color: #df8dc7;
    border: 1.5px solid #ca66ac;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .node:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  }
  
  .node.highlight {
    background-color: #cbf4d0;
  }
  
  .node input {
    margin-left: 10px;
  }
  
  .children {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .add-child {
    margin-left: 10px;
  }
  
  .delete-node {
    margin-left: 10px;
  }
  
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    
    .tree {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .node {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .node input {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
    
    .add-child,
    .delete-node {
      margin-left: 0;
      margin-top: 10px;
    }
    
    .add-tree {
      font-size: 14px;
      padding: 8px 16px;
      margin-bottom: 10px;
    }
  }
  
   /* HOME STYLES */

/* NAV BAR STYLES */
.nav-bar{
  width:100%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:2vh;
    padding-bottom:2vh;
    background-color: #df8dc7;
}


.nav-links {
	padding-left: 2vh;
  padding-right:2vh;
	text-decoration: none;
    font-size: 4vh;
    font-weight: 200;
    letter-spacing: .4vh;
    font-family: 'sans-serif', sans-serif;
    color:#ffffff;
    
}

.nav-left{
  
  float:left;
  flex:1;
  
     
}
.nav-center{
  align-items: center;
  
}
.nav-right{
  float:right;
  flex:1;
  
    
}
@media(max-width:60vh){
  .nav-links {
      padding: .8vh;
      font-size: 3vh;
  }
  .nav-bar{
      padding-top:1vh;
      padding-bottom:1vh;
  }
}

/* NAV BAR STYLES */

/* Add button STYLES */
.add-button-container{
  padding-right: 4vh;

}
.add-tree{
  float: right;
  display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #df8dc7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add-tree:hover {
  background-color: #bc6ea5;
}
/* Add button STYLES */



