* {
    box-sizing: border-box;
  }

  /* HOME STYLES */
  .progress{
    justify-content: center;
    display: flex;
    margin-bottom:6px;
  }
  .progress-bar{
    background-color: #f2d3d7;
    border-radius: 6px;
    height:26px;
    width:200px;
    padding:4.3px 4.3px;
    
  }
  .progress-fill{
    background-color: #da929e;
    border-radius: 4px;
    height:17px;
    width:50%;
  }
  .column-container{
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .root {
    margin-top: 60px;
    margin-bottom: 60px;
    
  }
  
  .tree {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 50px;
    width:fit-content;
  }

  .node-input{
    background-color:#f5f5f5;
    border: 1.5px solid #da929e;
    border-radius: 12px;
    height:30px;
    margin-left:5px;
    margin-right:5px;
    margin-top:1px;
    margin-bottom:8px;
    transition:0.7s ease all; 
  }

  .input-descrip{
    min-height: 40px;;
    max-height: 80px;
  }

  .input-descrip.highlight{
    min-height: 40px;;
    max-height: 80px;
  }

  .input-title{
    margin-top:5px;
  }

  .node-contain { 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f2d3d7;
    border-radius: 10px;
    padding:15px;
    padding-left: 20px;
    padding-right:10px;
    margin-right:0;
    /* border: 1px solid #d7818f;
    margin:3px; */
  }

  .node{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    padding-top:0;
    background-color: #d7818f;
    border: 1.5px solid #d7818f;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s ease-in-out;
    transition:0.7s ease all; 
    z-index:0;
  }
  
  .node:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  }

  .node.highlight  {
    background-color: #97ae98;
    border-color:#87a38d;
    
  }

  .node.zoomed{ 
    -moz-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
    z-index: 1;
    transition:0.7s ease all; 
      -webkit-transition:0.7s ease all; 
      -moz-transition:0.7s ease all;
  }

  .node-input.highlight{
    background-color:#f5f5f5;
    border-color:#9ab89a;
  }
  
  .children {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .add-child {
    margin: 2px;
    margin-top:4px;
    color:#d7818f;
    background-color: #f2d3d7;
    border:0;
    border-radius: 60%;
  }

  .middle-button{
    align-items: center;
    flex:2;
  }

  .delete-node {
    background-color: #f2d3d7;
    margin:2px;
    margin-top:3px;
    color:#d7818f;
    border:0;
    border-radius: 60%;
    padding:0 5%;
  }

  .node-buttons{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top:3px;
    padding-left: 2px;
    padding-right:4px;
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    
    .tree {
      margin-top:20px;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .node {
      
      margin-bottom: 10px;
    }
    
    .node input {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
    
    .add-child,
    .delete-node {
      margin-left: 0;
      margin-top: 10px;
    }
    
    .add-tree {
      font-size: 14px;
      padding: 8px 16px;
      margin-bottom: 10px;
    }
  }
/* HOME STYLES */


/* NAV BAR STYLES */
.nav-bar{
  width:100%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:1vh;
    padding-bottom:1vh;
    background-color: #d7818f;
}

.nav-links {
	padding-left: 2vh;
  padding-right:2vh;
	text-decoration: none;
    font-size: 4vh;
    font-weight: 200;
    letter-spacing: .4vh;
    font-family: 'sans-serif', sans-serif;
    color:#ffffff;
    
}

.nav-left {
  width: 12%;
  float: left;
  flex: 1;
}
#logo {
  width: 100%;
}

.nav-center {
  width: 2.5%;
  align-items: center;
}
#home {
  float: left;
  width: 100%;
}

.nav-right {
  width: 12%;
  float: right;
  flex: 1;
}
#signin {
  float: right;
  width: 100%;
}

@media(max-width:60vh){
  .nav-links {
      padding: .8vh;
      font-size: 3vh;
  }
  .nav-bar{
      padding-top:1vh;
      padding-bottom:1vh;
  }
}
/* NAV BAR STYLES */

/* ADD TREE BUTTON STYLES */
.add-button-container{
  padding-right: 3vh;
}

.add-tree{
  float: right;
  display: block;
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #d7818f;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add-tree:hover {
  background-color:#da929e;
}
/* ADD TREE BUTTON STYLES */


/* ABOUT THE TEAM STYLES */
/*HTML/CSS taken https://www.w3schools.com/howto/howto_css_about_page.asp
for educational/personal purposes*/

/*Header Container*/
.containHeader{
  width: 100%;
  height: auto;
  background-position: center;
  padding-bottom: 20px;
  position: relative;
}

/* text in header*/
.logoText {
  width: 100%;
  color: #333333;
  font-family:"Monotype Corsiva";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 80px;
}

/* header */
.kissHeader {
  width: 100%;
  height: auto;
  color: #f9a7b1;
  opacity:40%;
  font-family: "Freehand", serif;
  font-weight: 700;
  font-size: 120px;
  text-align: center;
  position: absolute;
}

/*Cards container*/
.containCard{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

/*ID card details container*/
.containTxt{
  width: 100%;
  height: auto;
  padding: 10px;
}

/*three columns side by side*/
.columnImg {
  float: left;
  width: 33.33%;
  padding: 0 8px;
}

/*clear floats after columns*/
.row::after{
  content: "";
  display: table;
  clear: both;
}

/*Styling the card-like display*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 50px;
}

/* responsive columns for small screens*/
@media screen and(max-width: 600px) {
 .columnImg {
  width: 100%;
  display: block;
  }
}

/*about the app text info/ can also be used for text on pics*/
.aboutDescription {
  width: 100%;
  height: auto;
  color: #333333;
  font-family: "Georama";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  margin-top: 150px;
}
/* ABOUT THE TEAM STYLES */


/* ACCOUNT PAGE STYLES */
/* Some HTML & CSS taken from https://www.youtube.com/watch?v=p1GmFCGuVjw for education/personal purposes */
.signin-wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: #f2d3d7;
  border: 13px solid #d7818f;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  
}

.signin-wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: #333333;
  text-align: center;
}

.signin-wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #333333;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #333333;
  font-weight: 500;
  pointer-events: none;
  transition: .5s
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #333333;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  width: 8%;
  right: 8px;
  font-size: 1.2em;
  color: #333333;
  margin-top: 15px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #d7818f;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #333333;
  font-weight: 500;
}
